/* NOTE: This document is alphabetically organized because I found
it was easist to find and edit things this way. */

/* importing a google font */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body {
    background-color: rgb(245, 255, 245);
    font-family: 'Muli', sans-serif;
}

figure img {
    height: 300px;
    width: 400px;
}

footer {
    background-color: rgb(211, 255, 211);
    color: rgb(0, 149, 2);
    padding: 10px;
    text-align: center;
}

/* styling the form */
form {
    background-color: rgb(211, 255, 211);
    margin: auto;
    margin-bottom: 20px;
    max-width: 575px;
    padding: 20px;
    width: 90%;
}

h1 {
    color: rgb(0, 149, 2);
    font-weight: bold;
    margin: 10px;
    padding: 5px;
}

h1 img {
    height: 100px;
    width: 400px;
}


#content {
    padding: 10px;
}

/* map styling */
iframe {
    padding: 15px;
}

.image-container {
    display: flex;
}

.image-container img {
    height: 200px;
    margin-right: 10px;
    padding: 5px;
    width: 200px;
}

label {
    display: block;
    margin-bottom: 3px;
}

/* styling the nav bar */
nav {
    background-color: rgb(211, 255, 211);
    text-align: left;
}

nav a {
    color: rgb(0, 149, 2);
    font-weight: bold;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    padding: 3;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* styling the table */
table {
    border: 1px solid rgb(0, 149, 2);
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color:rgb(211, 255, 211);
}

td, th {
    border: 1px solid rgb(0, 149, 2);
}

fieldset {
    background-color: rgb(245, 255, 245);
    border: 3px dotted rgb(0, 149, 2);
    border-radius: 2px;
    margin-bottom: 15px;
    padding: 8px;
}

/* styling the submit button */
input[type="submit"] {
    background-color: rgb(0, 149, 2);
    border: none;
    color: rgb(245, 255, 245);
    cursor: pointer;
    padding: 10px;
}
