/* importing a google font */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body {
  font-family: 'Muli', sans-serif;
}

h1 img {
    width: 400px;
    height: 100px;
}
figure img {
    width: 400px;
    height: 300px;
}

.image-container {
    display: flex;
}

.image-container img {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    padding: 5px;
}

/* style the nav bar */
nav {
    background-color: rgb(211, 255, 211);
    text-align: left;
}

/* style the nav links */
nav ul {
    list-style-type: none;
    padding: 3;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(0, 149, 2);
    font-weight: bold;
}

body {
    background-color:rgb(245, 255, 245);
}

h1 {
    color:rgb(0, 149, 2);
    margin: 10px;
    padding: 5px;
    font-weight: bold;
}

table {
    border: 1px solid rgb(0, 149, 2); 
    padding: 10px;
    margin: 10px;
}


td, th{
    border: 1px solid rgb(0, 149, 2);
}

footer {
    background-color: rgb(211, 255, 211);
    color: rgb(0, 149, 2);
    text-align: center;
    padding: 10px;
}



